$font-family: 'Trebuchet MS', sans-serif;
$font-family-arabic: 'Tahoma', sans-serif;

// SPACING ux/ui
$new-spacing-xs: 2px;
$new-spacing-sm: 5px;
$new-spacing: 10px;
$new-spacing-lg: 20px;
$new-spacing-big: 40px;

$icon-font-size: 16px;
$list-element-height: 80px;
$animation-duration: 0.2s;

$radius-m: 5px;
$modal-radius: 4px;
$radius: 10px;

$top-menu-height: 40px;
$title-font-size-sm: 12px;
$title-font-size: 14px;
$title-font-size-md: 16px;
$title-font-size-lg: 18px;

$content-font-size: 12px;

$text-size-sm : 8px;
$text-size-md : 10px;
$text-size-lg : 12px;

$scrollbar-thumb-color: rgba(169, 169, 169, 0.274);

// COLORS
$color-internal-document: #00A819;
$color-outgoing-document: #E84481;
$color-incoming-document: #0C89B5;

$color-white: white;
$color-black: black;

$color-orange-burning: #FF6E40;
$color-green-shamrock: #57D39D;
$color-blue-blumine: #165C77;
$color-blue-glacier: #8ABAC7;
$color-blue-squeeze: #E8F3F6;
$color-blue-catskill: #E1EDF0;
$color-blue-catskill-white: #F3F8F9;
$color-blue-tiber: #0C3849;
$color-blue-horizon: #5B8C9F;
$color-blue-venice: #075675;
$color-blue-teal: #054062;

$color-blue-jungle-mist: #B6CBD4;
$color-green-leaf: #417505;
$color-grey-gallery: #ECECEC;
$color-grey-mercury: #E1E1E1;
$color-grey-tundora: #4A4A4A;
$color-white-sprint-wood: #F3F1E5;
$color-ghost-white: #f4f4fb;

$color-grey-light: #F9F8F2;
$color-grey-medium: #D8D8D8;
$color-dimgrey: dimgrey;
$color-grey-dusty: #9B9B9B;
$color-grey-blue: #898E9B;
$color-grey: #808080;
$color-grey-dull: #706e6e;
$color-white-rock: #F1EFE1;
$color-blue-deep: #1B1F2D;
$color-blue-dark: #0A6E89;
$color-blue-light: #1DA1DC;
$color-ghost-white: #FBFBFE;
$color-blue-dark-opacity-10: rgba(10, 110, 137, 0.1);
$color-blue-dark-opacity-15: rgba(10, 110, 137, 0.15);
$color-grey-dusty-opacity-10: rgba(155, 155, 155, 0.1);
$color-grey-dusty-opacity-80: rgba(155, 155, 155, 0.8);

$color-white-opacity-20: rgba(255, 255, 255, 0.2);
$color-blue-dark-opacity-20: rgba(10, 110, 137, .2);
$color-blue-dark-opacity-40: rgba(10, 110, 137, .4);
$color-blue-dark-opacity-50: rgba(10, 110, 137, .5);
$color-blue-dark-opacity-80: rgba(10, 110, 137, .8);
$color-dark-opacity-20: rgba(0, 0, 0, .2);
$color-dark-opacity-40: rgba(0, 0, 0, .4);
$color-dark-opacity-70: rgba(0, 0, 0, .7);

$color-blue-medium: #0B7B99;
$color-blue-regular: #1C91BA;
$color-blue-light: #5298A9;
$color-blue-mystic: #DBE7EB;
$color-aqua-haze-light: #FAFCFC;
$color-aqua-haze: #E8F1F2;
$color-swans-down: #DBECEE;
$color-swans-down-darked: #cbeaee;
$color-green-fruit-salad: #4CAF50;

$color-red: #F44336;
$color-invalid: orange;
$color-required: $color-red;

$error-color-bg: #F8D7DA;
$warning-color-bg: #FFF3CD;
$info-color-bg: #D4EDDA;

$error-color-text: #721C24;
$warning-color-text: #856404;
$info-color-text: #155724;